.next
.swc
certificates
out

node_modules

test-results
playwright-report
playwright/.cache

public/robots.txt
public/rss.xml
public/sitemap.xml
public/.index/*
public/Users/Public/**

!public/Users/**/desktop.ini
!public/Users/Public/Desktop
!public/Users/Public/Desktop/*
!public/Users/Public/Desktop/*.url
!public/Users/Public/Desktop/*.txt
!public/Users/Public/Desktop/*.png
!public/Users/Public/Desktop/*.jpg
!public/Users/Public/Desktop/*.jpeg
!public/Users/Public/Desktop/*.gif
!public/Users/Public/Desktop/*.bmp
!public/Users/Public/Desktop/*.webp
!public/Users/Public/Desktop/*.lnk
!public/Users/Public/Documents
!public/Users/Public/Music
!public/Users/Public/Pictures
!public/Users/Public/Pictures/*.json
!public/Users/Public/Pictures/Life
!public/Users/Public/Pictures/Life/*.jpg
!public/Users/Public/Pictures/Life/*.jpeg
!public/Users/Public/Pictures/Life/*.png
!public/Users/Public/Pictures/Life/*.gif
!public/Users/Public/Pictures/Life/*.bmp
!public/Users/Public/Pictures/Life/*.webp
!public/Users/Public/Videos
!public/Users/Public/Videos/*.mp4
!public/Users/Public/Videos/*.avi
!public/Users/Public/Videos/*.mkv
!public/Users/Public/Videos/*.mov
!public/Users/Public/Videos/*.wmv
!public/Users/Public/Videos/*.flv

.DS_Store
*.py
